---
---

<div id="keen-slider" class="keen-slider pl-24 w-full px-0">
  <slot />
</div>

<script>
  import KeenSlider from "keen-slider";
  
  const slider = new KeenSlider("#keen-slider", {
    slides: {
      perView: 3,
      spacing: 25,
    },
  });
</script>