---
---

<section class="container w-full mt-24 flex flex-col xl:flex-row">
  <div class="flex flex-col basis-6/12">
    <div class="flex flex-col items-start group justify-start text-left">
      <h4>Fine-Tuning and RLHF</h4>
      <p>Adapt best-in-class foundation models to your business and your specific data to build sustainable, successful AI programs and data from your enterprise.</p>
      <hr class="transition-all w-full h-px border-0 opacity-10 left-1/2 !border-white group-hover:opacity-100"/>
    </div>
    <div class="flex flex-col items-start group justify-start text-left">
      <h4>Foundation Models</h4>
      <p>Scale partners or integrates with all of the leading AI models, from open-source to closed-source, including OpenAI, Anthropic, Google PaLM, Cohere, and more.</p>
      <hr class="transition-all w-full h-px border-0 opacity-10 left-1/2 !border-white group-hover:opacity-100"/>
    </div>
    <div class="flex flex-col items-start group justify-start text-left">
      <h4>Enterprise Data</h4>
      <p>Scale's Data Engine enables you to integrate your enterprise data into the fold of these models, providing the base for long-term strategic differentiation.</p>
      <hr class="transition-all w-full h-px border-0 opacity-0 left-1/2 !border-white group-hover:opacity-100"/>
    </div>
  <div></div>
</section>