---
---

<section class="container w-full mt-24 flex flex-col xl:flex-row">
  <div class="flex flex-col text-left basis-6/12 group">
    <div class="peer opacity-100 peer-hover:opacity-30 group-hover:opacity-30 border-b group last:border-transparent border-white/10 group hover:border-white hover:last:border-white group-hover:hover:opacity-100 transition-all duration-300 cursor-pointer">
      <h4 class="w-full pt-6 pb-2 text-2xl leading-10 text-left text-white">Fine-Tuning and RLHF</h4>
      <p class="pb-6 overflow-hidden text-white transition-colors group-hover:text-white/70">Adapt best-in-class foundation models to your business and your specific data to build sustainable, successful AI programs and data from your enterprise.</p>
    </div>
    <div class="peer opacity-100 peer-hover:opacity-30 group-hover:opacity-30 border-b group last:border-transparent border-white/10 group hover:border-white hover:last:border-white group-hover:hover:opacity-100 transition-all duration-300 cursor-pointer">
      <h4 class="w-full pt-6 pb-2 text-2xl leading-10 text-left text-white">Foundation Models</h4>
      <p class="pb-6 overflow-hidden text-white transition-colors group-hover:text-white/70">Scale partners or integrates with all of the leading AI models, from open-source to closed-source, including OpenAI, Anthropic, Google PaLM, Cohere, and more.</p>
    </div>
    <div class="peer opacity-100 peer-hover:opacity-30 group-hover:opacity-30 border-b group last:border-transparent border-white/10 group hover:border-white hover:last:border-white group-hover:hover:opacity-100 transition-all duration-300 cursor-pointer">
      <h4 class="w-full pt-6 pb-2 text-2xl leading-10 text-left text-white">Enterprise Data</h4>
      <p class="pb-6 overflow-hidden text-white transition-colors group-hover:text-white/70">Scale's Data Engine enables you to integrate your enterprise data into the fold of these models, providing the base for long-term strategic differentiation.</p>
    </div>
  <div></div>
</section>