---
import { Icon } from "@astrojs/starlight/components";
import { cva } from "class-variance-authority";

const buttonVariants = cva(
  "new-button_button--primary font-medium justify-center rounded-[10px] flex flex-nowrap whitespace-nowrap transition-translate duration-300 cursor-pointer group items-center h-full group leading-[150%] text-sm cursor-pointer",
  {
    variants: {
      variant: {
        primary: "new-button_button--purple text-white hover:bg-primary/90",
        secondary:
          "new-button_button--pink text-white hover:bg-secondary/80",
        minimal: "bg-transparent",      },
      size: {
        default: "h-10 px-4 py-1",
        sm: "h-9 py-1 px-2",
        lg: "h-11 px-8",
        icon: "h-10 w-10",
      },
    },
    defaultVariants: {
      variant: "primary",
      size: "default",
    },
  }
)

const { link, variant, size } = Astro.props;
const { class: customClass, ...attrs } = Astro.props.attrs || {};

---

<a class="relative focus-visible:outline group outline-[rgba(255,255,255,0.64)] rounded-xl outline-offset-[3px] inline-block no-underline" href={link}>
  <button class:list={[buttonVariants({ variant, size }), customClass]}  {...attrs}>
    <slot />
    <Icon color="#fff" name="right-arrow" class="transition-transform group-hover:translate-x-1" size={"1.5rem"} />
  </button>
  {variant !== "minimal" && <span class="after:content-[''] after:inline-block absolute inset-0 after:inset-0 after:absolute select-none pointer-events-none after:rounded-[11px] rounded-[11px] shadow-[inset_0_0_0_1px_rgba(255,255,255,1)] after:shadow-[inset_0_0_0_1px_rgba(105,57,193,0.4)]"/>}
</a>

<style>
  .new-button_button--primary {
      border-radius: 10px;
      position: relative;
      color: #f4f0ff;
      text-align: center;
      line-height: 20px;
      font-weight: 500;
      z-index: 1;
  }

 

  .new-button_button--purple {
    background: radial-gradient(231.94% 231.94% at 50% 100%, #8a6cff 0, rgba(53, 41, 128, 0) 25.24%), linear-gradient(180deg, rgba(243, 238, 255, 0), rgba(243, 238, 255, .04)), rgba(147, 130, 255, .01);
    box-shadow: 0 0 0 0 rgba(16, 0, 51, .4), 0 2px 5px 0 rgba(16, 0, 51, .39), 0 8px 8px 0 rgba(16, 0, 51, .34), 0 19px 11px 0 rgba(16, 0, 51, .2), 0 34px 14px 0 rgba(16, 0, 51, .06), 0 53px 15px 0 rgba(16, 0, 51, .01), inset 0 0 12px 0 hsla(0, 0%, 100%, .08), inset 0 -8px 32px 0 #1e0d49;
  }

  .new-button_button--purple:hover {
    background: radial-gradient(231.94% 231.94% at 50% 100%, #8a6cff 0, rgba(53, 41, 128, 0) 25.24%), linear-gradient(180deg, rgba(243, 238, 255, 0), rgba(243, 238, 255, .04)), rgba(147, 130, 255, .6);
    box-shadow: inset 0 0 12px 0 hsla(0, 0%, 100%, .08), inset 0 -8px 32px 0 #1e0d49, 0 0 0 0 rgba(16, 0, 51, .4), 0 2px 5px 0 rgba(16, 0, 51, .39), 0 8px 8px 0 rgba(16, 0, 51, .34), 0 19px 11px 0 rgba(16, 0, 51, .2), 0 34px 14px 0 rgba(16, 0, 51, .06), 0 53px 15px 0 rgba(16, 0, 51, .01);
  }

  .new-button_button--pink {
    background: radial-gradient(231.94% 231.94% at 50% 100%, #c88bc4 0, rgba(200, 139, 196, 0) 25.24%), linear-gradient(180deg, rgba(243, 238, 255, 0), rgba(243, 238, 255, .04)), rgba(200, 139, 196, .01);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .4), 0 2px 5px 0 rgba(0, 0, 0, .39), 0 8px 8px 0 rgba(0, 0, 0, .34), 0 19px 11px 0 rgba(0, 0, 0, .2), 0 34px 14px 0 rgba(0, 0, 0, .06), 0 53px 15px 0 rgba(0, 0, 0, .01), inset 0 0 12px 0 hsla(0, 0%, 100%, .08), inset 0 -8px 32px 0 #1e001c;
  }

  .new-button_button--pink:hover {
    background: radial-gradient(231.94% 231.94% at 50% 100%, #c88bc4 0, rgba(53, 41, 128, 0) 25.24%), linear-gradient(180deg, rgba(255, 238, 254, 0), rgba(255, 238, 254, .04)), rgba(255, 130, 251, .6);
    box-shadow: inset 0 0 12px 0 hsla(0, 0%, 100%, .08), inset 0 -8px 32px 0 #490d44, 0 0 0 0 rgba(51, 0, 46, .4), 0 2px 5px 0 rgba(50, 0, 51, .39), 0 8px 8px 0 rgba(51, 0, 51, .34), 0 19px 11px 0 rgba(51, 0, 50, .2), 0 34px 14px 0 rgba(51, 0, 48, .06), 0 53px 15px 0 rgba(51, 0, 48, .01);
  }
</style>