---
import MobileMenuToggle from '@astrojs/starlight/components/MobileMenuToggle.astro';
import type { Props } from '@astrojs/starlight/props';

const { hasSidebar, labels,  } = Astro.props;
---

<div class="flex flex-col items-center w-full">
	<header class="w-full flex justify-center items-center bg-black text-left relative z-50 bg-offpurple/20 backdrop-blur-[6px] md:backdrop-blur-0 md:bg-transparent"><slot name="header" /></header>
	{
		hasSidebar && (
			<nav class="sidebar" aria-label={labels['sidebarNav.accessibleLabel']}>
				<MobileMenuToggle {...Astro.props} />
				<div id="starlight__sidebar" class="sidebar-pane">
					<div class="sidebar-content sl-flex">
						<slot name="sidebar" />
					</div>
				</div>
			</nav>
		)
	}
	<div class="flex flex-col container justify-center items-center"><slot /></div>
</div>